---
layout: 98
---

<div style="display: flex;">
    {% capture credits %}
        <p>It's just a sandbox playground I rarely touch anymore.</p>
    {% endcapture %}

    {% include 98window.html title="About" content=credits %}
</div>

<div style="display: flex;">
    <section class="right">
        <div class="window wallpaper">
            <div class="title-bar">
                <div class="title-bar-text">The future had 256 colors</div>
            </div>
            <div class="window-body">
                <img class="window-img" src="/images/98-vaporwave-background.jpg" width>
            </div>
        </div>
    </section>
</div>