<!-- Used by theme-bio-builtin-2 -->

{% if site.data.bio.work %}
<div class="sixteen wide column no-bottom">
  <h3 class="ui left aligned header no-bottom">Professional Experience</h3>
  <hr style="margin: 0px;">
</div>

{% for entry in site.data.bio.work %}
  <div class="twelve wide column no-bottom">
    <p class="ui no-bottom"><b>{{ entry.position }}, {{ entry.company }}</b></p>
    <p class="ui no-bottom"><a href="{{ entry.website }}">{{ entry.website | remove: "http://" | remove: "https://" }}</a></p>
  </div>
  <div class="four wide right aligned column no-bottom">
    <p class="ui no-bottom"><b>
      {% if entry.startDate %}
        {{ entry.startDate }}
      {% endif %}
      {% if entry.startDate and entry.endDate %}
        -
      {% endif %}
      {% if entry.endDate %}
        {% if entry.endDate != "Present" %}
          {{ entry.endDate }}
         {% else %}
          {{ entry.endDate }}
        {% endif %}
      {% endif %}
    </b></p>
  </div>

  <div style="padding-top: 0px;" class="sixteen wide column no-bottom">
    <p class="ui no-bottom">{{ entry.summary }}</p>
    {% if entry.highlights %}
      <ul style="margin: 0px;">
        {% for highlight in entry.highlights %}
          <li>{{ highlight }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endfor %}

{% endif %}