<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="descripion" content="{{ site.meta-description }}">

  <title>
    {% if page.title %}
      {{ page.title }} |
    {% endif %}
    {{ site.title }}
  </title>

  <!-- Load Javascript and CSS for Semantic UI -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/css/semantic-ui/semantic.min.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/semantic-ui/semantic.min.css">

  <!-- Load Techfolio CSS customizations -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/stylesheet-default.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/stylesheet-customizations.css">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/print-default.css" media="print">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/print-customizations.css" media="print">

  <!-- Load a rouge theme from the sample themes in css/rouge.
       See https://benhur07b.github.io/2017/03/25/add-syntax-highlighting-to-your-jekyll-site-with-rouge.html
  -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/rouge/{{ site.rouge-theme}}.css">

  <!-- Load MathJax if 'mathjax: true' is found in your _config.yml. -->
  {% if site.mathjax %}
  <script type="text/javascript"
          src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  {% endif %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140506912-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140506912-1');
  </script>

  <meta name="google-site-verification" content="JnTJgJrBhdJzepyoD3IiH38lw26BZBk6Uzt5F-chMQs" />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
