<!-- Home page design with small circular image bisecting card. -->

{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_projects = project_pages.size %}

<div style="height: 100%; margin-top: -75px" class="ui middle aligned grid ">

  <div class="column">

    <div style="position: relative; top: 75px; z-index: 1" class="ui fluid centered small circular image">
      <img src="{{ site.data.bio.basics.picture }}">
    </div>


    <div style="max-width: 500px; padding-top: 75px; margin-top: 0px" class="ui fluid centered card">

      <div class="center aligned content">
        <span class="header">{{ site.data.bio.basics.name }}</span>
        <div class="meta">
          <span class="date">{{ site.data.bio.basics.label }}</span>
        </div>
        <div class="left aligned description">
          {{ site.data.bio.basics.summary }}
        </div>
      </div>
      <div class="center aligned content">
        <div class="description">
          Interests:
          {% for interest in site.data.bio.interests %}
            {{ interest.name }}{% if forloop.last != true %}, {% endif %}
          {% endfor %}

        </div>
      </div>
      <div class="center aligned extra content">
        {% include home-network-links.html %}
      </div>
      <div class="center aligned content">
        <a href="{{ site.baseurl}}/projects/">
          <button class="ui basic button">Projects ({{ num_projects }})</button>
        </a>
        <a href="{{ site.baseurl}}/code-golf/">
            <button class="ui basic button">{{ site.cg-page-label }}</button>
        </a>
        <a href="{{ site.baseurl}}/bio/">
          <button class="ui basic button">{{ site.bio-page-label }}</button>
        </a>
        <a href="{{ site.baseurl}}/curriculum-vitae.pdf">
          <button class="ui basic button">Download my CV</button>
        </a>
      </div>
    </div>
  </div>

</div>