<!-- Home page design with large image to left of bio info. -->
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_projects = project_pages.size %}

<div style="height: 100%;" class="ui middle aligned two column centered stackable grid container">

  <div style="text-align: center" class="column">
    <div  class="ui rounded image">
      <img style="max-width: 300px" src="{{ site.data.bio.basics.picture }}">
    </div>
  </div>

  <div class="column">
    <h2 class="header no-bottom">{{ site.data.bio.basics.name }}</h2>
    <p class="">{{ site.data.bio.basics.label }}</p>
    <p class="">
      {{ site.data.bio.basics.summary }}
    </p>
    <p>Interests:
      {% for interest in site.data.bio.interests %}
        {{ interest.name }}{% if forloop.last != true %}, {% endif %}
      {% endfor %}
    </p>
    <p style="text-align: center">
      {% include home-network-links.html %}
    </p>
    <p style="text-align: center">
      <a href="{{ site.baseurl}}/projects/">
        <button class="ui basic button">Projects ({{ num_projects }})</button>
      </a>
      <a href="{{ site.baseurl}}/code-golf/">
        <button class="ui basic button">{{ site.cg-page-label }}</button>
      </a>
      <a href="{{ site.baseurl}}/bio/">
        <button class="ui basic button">{{ site.bio-page-label }}</button>
      </a>
      <a href="{{ site.baseurl}}/curriculum-vitae.pdf">
        <button class="ui basic button">Download my CV</button>
      </a>
    </p>
  </div>
</div>